<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xiaolispringboot.example.xiaolispringboot.mapper.UserMapper">


    <insert id="Insert" parameterType="User" >
        insert into user values(#{id},#{accountId},#{name},#{token},#{gmtCreat},#{gmtModified});
	</insert>
    <select id="Select" parameterType="String" resultType="User">
            select * from user where TOKEN=#{token}
    </select>

</mapper>